# Build output
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
TestResult*/
*.trx

# NuGet
*.nupkg
project.lock.json
artifacts/

# Rider / VS Code
.idea/
.vscode/

# Others
_ReSharper*/
*.opendb
